.rightbarFriend{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.rightbarUsername{
    font-weight: 500;
}

.profileImgContainer{
  margin-right: 10px;
}
.profileImg{
  width:40px;
  height:40px;
  border-radius: 50%;
  object-fit: cover;
}

.rightbarUsername{
  font-weight: 500;
}
