.rightbar{
  flex: 4;
}
.rightbarTitle{
  margin-bottom: 20px;
}
.rightbarFriendList{
  padding: 0;
  margin: 0;
  list-style: none;
}
.rightbarFriend{
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.profileImgContainer{
  margin-right: 10px;
}
.profileImg{
  width:40px;
  height:40px;
  border-radius: 50%;
  object-fit: cover;
}

.rightbarUsername{
  font-weight: 500;
}
